{% extends 'base_initial.html' %}

{% block conteudo %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">JM System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Conheça o Produto</a>
          </li>
          <li class="nav-item dropdown">


            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://wa.me/+5562992077641">Whatsapp</a></li>
              <li><a class="dropdown-item" href="https://github.com/jauumgod">Github</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="https://www.linkedin.com/in/joao-marcos-duarte-marinho-206b35227/">Linkedin</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Agendar Demonstração</a>
          </li>
          <li class="nav-item">
            
          </li>
        </ul>
         
        <button class="btn btn-outline-primary" type="submit"><a class="nav-link" href="{{url_for('login')}}">Entrar</a></button>

      </div>
    </div>
</nav>

<article>
  <h2>Painel de Suporte/Chamados</h2>
  <div class="block_begin">
    <p>Este painel, foi feito pela empresa JM Systems,
      com inuito de criar um novo modelo de painel de chamados.</p>
    <p>Aqui você pode gerenciar seus chamados com qualidade 
      e tirar os relatorios que você precisa.</p>
  </div>
  <div class="block_mid">
    <p>
      aqui temos algumas imagens de dentro do nosso sistema, para mostrar como e facil de utilizar
      e atender seus objetivos, como tecnico, solicitante de suporte ou administrador do sistema.
    </p>
  </div>

</article>

{% endblock conteudo %}