{% extends 'base.html' %}

{% block conteudo %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">JM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('chamados_usuario')}}">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('chamados_usuario')}}">Meus Chamados</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mais
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Suporte</a></li>
              <li><a class="dropdown-item" href="#">Sobre</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{url_for('logout')}}">Sair</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>
<br>
<h1 align="center">DESCREVA O CHAMADO</h1><br>

<div class="container col-md-6">
    <form action="{{url_for('abrir_chamado')}}" class="form-control mb-3" method="POST">
        <p>TIPO DO PROBLEMA: </p>

        <div class="input-group mb-3" id="div-select">
          <div class="input-group-prepend">
            <label class="input-group-text" id = "options" for="inputGroupSelect01">Options</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" name="select_type">
            <option value="AUTOMACAO">AUTOMAÇÃO</option>
            <option value="PDV">PDV</option>
            <option value="SERVIDOR">SERVIDOR</option>
            <option value="CAMERAS">CAMERAS</option>
        </select><br>
        </div>
        <div class="form-floating mb-2 col-md-6" >
            <input type="text" class="form-control" id="floatingInput" placeholder="Titulo" name="title">
            <label for="floatingInput">Titulo</label>
        </div>

        <div class="form-floating mb-2 col-md-6">
          <textarea class="form-control" name="descricao" id="floatingTextarea" cols="80"></textarea>
          <label for="floatingTextarea">Descrição</label>
        </div>
        <div class="form-floating mb-2 col-md-6">
          <input type="text" class="form-control" id="floatingInput" placeholder="telefone" name="telefone">
          <label for="floatingInput">Telefone de Contato</label>
      </div>

      <div class="input-group mb-3" id="div-select">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Options</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option value="ti_infra">TI-INFRAESTRUTURA</option>
          <option value="dir_operacoes">Diretoria de Operações</option>
          <option value="cftv">CFTV - Cameras e Alarmes </option>
        </select>
      </div>

        <div class="row col-2">
            <button class="btn btn-primary">Abrir</button>
        </div>  
    </form>
</div>
{% endblock conteudo %}