{% extends 'base.html' %}

{% block conteudo %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">JM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('chamados_usuario')}}">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('chamados_usuario')}}">Meus Chamados</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mais
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Suporte</a></li>
              <li><a class="dropdown-item" href="#">Sobre</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{url_for('logout')}}">Sair</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>
<br>
<h1 align="center">DESCREVA O CHAMADO</h1><br>

<div class="square">
    <form action="{{url_for('abrir_chamado')}}" method="post">
        <div class="mb-2">
            <label for="exampleFormControlInput1" class="form-label fw-bold">Escolha uma opção</label>
            <select name="select_type">
                <option value="AUTOMACAO">AUTOMAÇÃO</option>
                <option value="SERVIDOR">SERVIDOR</option>
                <option value="CAMERAS">CAMERAS</option>
                <option value="NOBREAKS">NOBREAKS</option>
                <option value="COMPUTADOR">COMPUTADOR</option>
                <option value="IMPRESSORA">IMPRESSORA</option>
            </select><br>
        </div>
        <div class="mb-2">
            <label for="exampleFormControlInput1" class="form-label fw-bold">Titulo do chamado:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Titulo" name="title">
        </div>
        <div class="mb-2">
            <label for="exampleFormControlInput1" class="form-label fw-bold">Telefone p/Contato:</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="(DDD)0000-0000" name="telefone">
        </div>
        <div class="mb-2">
            <label for="exampleFormControlTextarea1" class="form-label fw-bold">Descrição do chamado:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="descricao"></textarea>
        </div>
        <div>
          <input type="file" name="anexo">
        </div><br>
        <button class="btn btn-success d-grid gap-2 col-6 mx-auto">Abrir chamado</button>
    </form>
</div>

{% endblock conteudo %}