{% extends 'base.html' %}

{% block conteudo %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </svg></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('abrir_chamado')}}">ABRIR CHAMADO</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              CONFIGURAÇÕES
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Alterar Senha</a></li>
              <li><a class="dropdown-item" href="{{url_for('gerenciar_contas')}}">Gerenciar Contas</a></li>
              <li><a class="dropdown-item" href="">Chamados Fechados</a></li>
              <li><hr class="dropdown-divider">Versão 1.0.1</li>
              <li><a class="dropdown-item" href="{{url_for('logout')}}">Sair</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search" action="" method="post">
          <input class="form-control me-2" type="search" placeholder="Buscar Chamados" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
</nav>
<br>
<h2 align="center">Chamados</h2>
<br>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nº</th>
        <th scope="col">Chamado</th>
        <th scope="col">Tipo</th>
        <th scope="col">Data Abertura</th>
        <th scope="col">Descrição</th>
        <th scope="col">Situação</th>
        <th scope="col">Usuario</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for ch in chamados %}
      <tr>
        <th scope="row">{{ch.id}}</th>
        <td><a href="{{url_for('visualizar_chamados', id=ch.id)}}">{{ch.titulo}}</a></td>
        <td>{{ch.tipo_ch}}</td>
        <td>{{ch.data_add}}</td>
        <td>{{ch.descricao}}</td>
        <td>{{ch.situacao}}</td>
        <td>{{ch.tab_usuarios_id}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="text-right">
    <a href="{{ url_for('chamados_suporte_admin', page=chamados.prev_num) }}"
    class="btn btn-outline-dark 
    {% if chamados.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
<!-- Loop through the number of pages to display a link for each-->
    {% for page_num in chamados.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
            {% if chamados.page == page_num %}
            <a href="{{ url_for('chamados_suporte_admin', page=page_num) }}"
            class="btn btn-dark">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('chamados_suporte_admin', page=page_num) }}"
            class="btn btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('chamados_suporte_admin', page=chamados.next_num) }}"
    class="btn btn-outline-dark 
    {% if chamados.page == chamados.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
<p class="text-right mt-3">
Pagina {{ chamados.page }} de {{ chamados.pages }}
</p>
</div>
</div>
<br>
{% endblock conteudo %}